<div class="product">
	<h3><%= product.name %></h3>
	<p><%= product.description %></p>
	<p>SKU: <%= product.sku %></p>
	<% image = Image.where("product_id = '#{product.id}'").first %>
	<%= image_tag image.filename, {width: 75} %>
	<p><%= render "layouts/add_cart", :product => product.id %></p>
</div>