<%= form_tag('confirm_order', method: "post") do %>

  <div class="field">
    <%= label_tag(:username, "Username: ")  %><br />
    <%= text_field_tag( :username) %>
  </div>
  <div class="field">
    <%= label_tag(:name, "Name: ") %><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag( :street, "Street: ") %><br />
    <%= text_field_tag( :street) %>
  </div>
  <div class="field">
    <%= label_tag( :city, "City: ") %><br />
    <%= text_field_tag( :city) %>
  </div>
  <div class="field">
    <%= label_tag( :state, "State: ") %><br />
    <%= select_tag "state", options_from_collection_for_select(@state, "id", "name"), :prompt => "Select state" %>
  </div>
  <div class="field">
    <%= label_tag( :zip_code, "Zip Code: ") %><br />

    <%= text_field_tag( :zip_code) %>
  </div>
  <div class="field">
    <%= label_tag( :email, "Email: ") %><br />
    <%= text_field_tag( :email) %>
  </div>
  <div class="field">
    <%= label_tag( :phone_number, "Phone Number: ") %><br />
    <%= text_field_tag( :phone_number) %>
  </div>
  <div class="actions">
    <%= submit_tag("Confirm") %>
  </div>
<% end %>
